/*avoid white nav bar on web load*/

/*home*/
div#content-10 {
    background: rgb(255, 198, 0)!important;
}

/*servicios*/
/*make background black*/
div#content-89 {
    background: black !important;
}

/*contacta con nosotros underline*/

  
.hablanos-cta a:link {
    text-decoration: none;
    border-bottom: 2px solid black !important;
}

a:hover {
 border-bottom-color: #ffc600!important;
}

/*saber más sobre nosotros underline*/

  
.saber-mas-nosotros-cta a:link {
    text-decoration: none;
    border-bottom: 2px solid black !important;
}

.saber-mas-nosotros-cta a:hover {
 border-bottom-color: white!important;
}


/*make line background black*/
#section_45y6fnuy6 {
    background: black !important;
}

/*nosotros*/
div#content-82 {
    background: #ffc600 !important;
}

/*laptop customization*/

/*home*/
@media screen and (min-width:1171px) and (max-width:1800px) {
    /*section interiografismo singular*/
/*    div#content_nhzytb6o5 p{
        font-family: "Inter-ExtraLightBETA", sans-serif!important;       
        font-size: 114px!important;
    }*/

    /*typing text*/
/*    #output-marlo {
        font-size: 60px!important;
        padding-bottom: 440px!important;
    }*/

    /*section wow*/
    /*left colum*/
    div#content_yn646q21a p{
        font-family: "Inter-Bold", sans-serif;
        font-size: 226px!important;
    }

/*    div#row_dz85z9z7n{
        padding-top: 140px!important;
    }*/

    /*right colum*/
/*    div#content_9gsaw2fgg p:first-child, div#content_9gsaw2fgg p:nth-child(2) {
        font-family: "Inter-Bold", sans-serif;
        font-size: 45px!important;
    }*/

/*    div#content_9gsaw2fgg{
        padding-bottom: 140px!important;
    }*/

}


/* proyectos web style */

.casa-victoria-proyecto:hover, .casa-victoria-proyecto a:hover{
    color: #ffc600!important;
}

.casa-victoria-proyecto:hover span.peque{
    color: black;
}

.casa-victoria-proyecto span.peque{
    color: white;
}

.foto-marlo-proyecto:hover, .foto-marlo-proyecto a:hover{
    color: #ffc600!important;
}

.foto-marlo-proyecto span.peque{
    color: white;
}

.foto-marlo-proyecto:hover span.peque{
    color: black;
}

.mujer-y-arquitectura-proyecto:hover, .mujer-y-arquitectura-proyecto a:hover{
    color: #ffc600!important;
}

.mujer-y-arquitectura-proyecto span.peque{
    color: white;
}

.mujer-y-arquitectura-proyecto:hover span.peque{
    color: black;
}

.gobierno-abierto-proyecto:hover, .gobierno-abierto-proyecto a:hover{
    color: #ffc600!important;
}

.gobierno-abierto-proyecto span.peque{
    color: white;
}

.gobierno-abierto-proyecto:hover span.peque{
    color: black;
}

.logos-indentidad-proyecto:hover, .logos-indentidad-proyecto a:hover{
    color: #ffc600!important;
}

.logos-indentidad-proyecto span.peque{
    color: white;
}

.logos-indentidad-proyecto:hover span.peque{
    color: black;
}

.bosque-urbano-proyecto:hover, .bosque-urbano-proyecto a:hover{
    color: #ffc600!important;
}

.bosque-urbano-proyecto span.peque{
    color: white;
}

.bosque-urbano-proyecto:hover span.peque{
    color: black;
}

.block-to-remove {
    display: none!important;
}

/*proyecto victoria*/
/*hide share buttons*/

/*div#content_3l6r3qf7s .is-content.share-box , div#content_3l6r3qf7s .is-content.share-box
 {
    display: none!important;
}*/

/*home*/
/* Cursor Styling */

.cursor-marlo::after {
    content:'_';
    display:inline-block;
    margin-left:3px;
    animation-name:blink;
    animation-duration:0.5s;
    animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    opacity:1;
  }
  49% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

/* Styling share buttons to black */

.share-button.button-facebook {
    background: black!important;
}

.share-button.button-twitter {
    background: black!important;
}

.share-button.button-linkedin{
    background: black!important;
}


/*Contact form*/


/* form submit button to black */

/*button#wpforms-submit-19 {
    background: black!important;
    color: white!important;
    font-size: 18px!important;
    padding: 10px 10px 10px 10px;
}*/

/* delete padding on posts and contactform */

.is-frontend .posts {
    padding-top: 0!important;
}

/* maximaxing contact form column */
section.post.is-content.post-198.page.type-page.status-publish.hentry .column {
    width: 100%!important;
    max-width: 100%!important;
    flex: 0 0 auto!important;
    flex-basis: 100%!important;
}

div.wpforms-container-full .wpforms-form input.wpforms-field-medium, 
div.wpforms-container-full .wpforms-form select.wpforms-field-medium, 
div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium {
    max-width: 100%;
}

/*@media (min-width: 600px) {
    .wp-block-column {
        flex-basis: 100%!important;
    }
}
*/

/*mobile*/

@media screen and (max-width:544px) {

    /*section#section_59gr20mca, */

    .Interrogante-con, .carrusel-desktop, .casa-victoria-borrar-mobile {
        display: none!important;
        display: hidden!important;
    }

    /*text of left column*/
    p.texto-wp-formulario-izda {
        font-family: "Inter-Bold", sans-serif;
        font-size: 28px!important;
        line-height: 38px!important;
    }
    /*text of right column wp-form bigger and black*/
    .wpforms-field-label {
        font-family: "Inter-Regular", sans-serif;
        font-size: 15px!important;
    }
    /*imput text*/
    input#wpforms-19-field_0, input#wpforms-19-field_1, input#wpforms-19-field_8, 
    input#wpforms-19-field_6, input#wpforms-19-field_7, textarea#wpforms-19-field_2  {
        font-size: 18px!important;
    }

    /*button marlonizate*/
    button#wpforms-submit-19{
        font-size: 15px!important;
        background: black!important;
        color: white!important;
        padding: 16px 33px 16px 33px;
        width: 100%;
    }

    form#wpforms-form-19{
        padding: 0px 0px 0px;
    }

    /*message of contact confirmation*/
    div#wpforms-confirmation-19 , div#wpforms-confirmation-19 p {
        color: #ffc600!important;
        margin: 0 0 24px 0!important;
        background: white!important;
        border: 1px solid #ffffff!important;
        padding: 15px 0px!important;
        font-family: "Inter-Bold", sans-serif!important;
        font-size: 28px!important;
        line-height: 38px!important;
    }

    div#wpforms-confirmation-19 {
        background: #ffffff!important;
        border: 1px solid #ffffff!important;
    } 
}


/*tablets*/

/*tablet portrait*/

@media screen and (min-width:545px) and (max-width:768px) {
    .casa-victoria-borrar-mobile {
            display: none!important;
    }
}

@media screen and (min-width:545px) and (max-width:991px) {

    .interrogante-mobile, .carrusel-mobile{
        display: none!important;
    }

    /*text of left column*/
    p.texto-wp-formulario-izda {
        font-family: "Inter-Bold", sans-serif;
        font-size: 41px!important;
        line-height: 48px!important;
    }
    /*text of right column wp-form bigger and black*/
    .wpforms-field-label {
        font-family: "Inter-Regular", sans-serif;
        font-size: 19px!important;
    }
    /*button marlonizate*/
    button#wpforms-submit-19{
        font-size: 19px!important;
        background: black!important;
        color: white!important;
        padding: 16px 33px 16px 33px;
    }
    form#wpforms-form-19{
        padding: 0px 0px 250px;
    }

    /*message of contact confirmation*/
     div#wpforms-confirmation-19 p {
        color: #ffc600!important;
        margin: -33px 0 24px 0!important;
        background: white!important;
        border: 1px solid #ffffff!important;
        padding: 15px 15px!important;
        font-family: "Inter-Bold", sans-serif!important;
        font-size: 41px!important;
        line-height: 48px!important;
    }

    div#wpforms-confirmation-19 {
        background: #ffffff!important;
        border: 1px solid #ffffff!important;
    }
}   

/* laptop */

@media screen and (min-width:992px) and (max-width:1440px) {

    .interrogante-mobile, .carrusel-mobile {
        display: none!important;
    }
    /*text of left column*/
    p.texto-wp-formulario-izda {
        font-family: "Inter-Bold", sans-serif;
        font-size: 45px!important;
        line-height: 55px !important;
    }
    /*text of right column wp-form bigger and black*/
    .wpforms-field-label {
        font-family: "Inter-Regular", sans-serif;
        font-size: 25px!important;
    }
    /*button marlonizate*/
    button#wpforms-submit-19{
        font-size: 25px!important;
        background: black!important;
        color: white!important;
        padding: 16px 33px 16px 33px;
    }
    form#wpforms-form-19{
        padding: 0px 0px 276px;
    }
    /*message of contact confirmation*/
    div#wpforms-confirmation-19 p {
        color: #ffc600!important;
        margin: -32px 0 24px 0!important;
        background: white!important;
        border: 1px solid #ffffff!important;
        padding: 15px 15px!important;
        font-family: "Inter-Bold", sans-serif!important;
        font-size: 45px!important;
        line-height: 55px!important;
    }

    div#wpforms-confirmation-19 {
        background: #ffffff!important;
        border: 1px solid #ffffff!important;
    }

}

/* desktop */

@media screen and (min-width:1441px) {

    .interrogante-mobile, .carrusel-mobile {
        display: none!important;
    }

    /*text of left column*/
    p.texto-wp-formulario-izda {
        font-family: "Inter-Bold", sans-serif;
        font-size: 60px!important;
        line-height: 75px!important;
    }

    /*text of right column wp-form bigger and black*/
        .wpforms-field-label {
            font-family: "Inter-Regular", sans-serif;
            font-size: 28px!important;
    }
    /*button marlonizate*/
    button#wpforms-submit-19{
        font-size: 28px!important;
        background: black!important;
        color: white!important;
        padding: 16px 33px 16px 33px;
    }
    /*message of contact confirmation*/
    div#wpforms-confirmation-19 p {
        color: #ffc600!important;
        margin: -18px 0 24px 0!important;
        background: white!important;
        border: 1px solid #ffffff!important;
        padding: 0px 15px!important;
        font-family: "Inter-Bold", sans-serif!important;
        font-size: 60px!important;
        line-height: 75px!important;
    }
    div#wpforms-confirmation-19 {
        background: #ffffff!important;
        border: 1px solid #ffffff!important;
    }
}

span.wpforms-required-label{
    color: #000000!important;
}

input#wpforms-19-field_0, input#wpforms-19-field_1, 
input#wpforms-19-field_2, input#wpforms-19-field_6,
input#wpforms-19-field_7, input#wpforms-19-field_8,
textarea#wpforms-19-field_2 {
    font-size: 28px;
}


/*hide post title of wp form & comments & sharing box*/
.post-heading {
    display: none!important;
}

section#comments{
    display: none!important;
}

.post.is-content.post-198.page.type-page.status-publish.hentry div#share-holder{
    visibility:hidden;
}


/*home*/

/*home black typing text animate*/

p#output-marlo, p#output-marlo-desktop, p#output-marlo-tablet-w , p#output-marlo-tablet-p ,p#output-marlo-2 {
    color: #000000;
}


/*button of "saber más de nosotros"*/

@media only screen and (max-width: 544px) {
  .click-saber-mas-1 {
    display: none!important;
  }
}

@media only screen and (min-width: 545px) {
  .click-saber-mas-mobile {
    display: none!important;
  }

}

/*Nosotros web*/

@media only screen and (max-width: 544px) {

  div#content_02n0k7sti div.ce-image img.is-content{
    height: 332px !important;
    width: auto !important;
  }
}

