/* proyectos web style */

.casa-victoria-proyecto:hover, .casa-victoria-proyecto a:hover{
    color: #ffc600;
}

.casa-victoria-proyecto:hover span.peque{
    color: black;
}

.casa-victoria-proyecto span.peque{
    color: white;
}

.foto-marlo-proyecto:hover, .foto-marlo-proyecto a:hover{
    color: #ffc600;
}

.foto-marlo-proyecto span.peque{
    color: white;
}

.foto-marlo-proyecto:hover span.peque{
    color: black;
}

.mujer-y-arquitectura-proyecto:hover, .mujer-y-arquitectura-proyecto a:hover{
    color: #ffc600;
}

.mujer-y-arquitectura-proyecto span.peque{
    color: white;
}

.mujer-y-arquitectura-proyecto:hover span.peque{
    color: black;
}

.gobierno-abierto-proyecto:hover, .gobierno-abierto-proyecto a:hover{
    color: #ffc600;
}

.gobierno-abierto-proyecto span.peque{
    color: white;
}

.gobierno-abierto-proyecto:hover span.peque{
    color: black;
}

.logos-indentidad-proyecto:hover, .logos-indentidad-proyecto a:hover{
    color: #ffc600;
}

.logos-indentidad-proyecto span.peque{
    color: white;
}

.logos-indentidad-proyecto:hover span.peque{
    color: black;
}

.bosque-urbano-proyecto:hover, .bosque-urbano-proyecto a:hover{
    color: #ffc600;
}

.bosque-urbano-proyecto span.peque{
    color: white;
}

.bosque-urbano-proyecto:hover span.peque{
    color: black;
}

.block-to-remove {
    display: none;
}

/* Cursor Styling */

.cursor-marlo::after {
    content:'_';
    display:inline-block;
    margin-left:3px;
    animation-name:blink;
    animation-duration:0.5s;
    animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    opacity:1;
  }
  49% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

/* Styling share buttons to black */

.share-button.button-facebook {
    background: black!important;
}

.share-button.button-twitter {
    background: black!important;
}

.share-button.button-linkedin{
    background: black!important;
}


/* maximaxing contact form column */
section.post.is-content.post-24.page.type-page.status-publish.hentry .column {
    width: 100%!important;
    max-width: 100%!important;
    flex: 0 0 auto!important;
    flex-basis: 100%!important;
}

div.wpforms-container-full .wpforms-form input.wpforms-field-medium, 
div.wpforms-container-full .wpforms-form select.wpforms-field-medium, 
div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium {
    max-width: 100%;
}

@media (min-width: 600px) {
    .wp-block-column {
        flex-basis: 100%!important;
    }
}

/* Delete text of Header "contacto" */
section.post.is-content.post-24.page.type-page.status-publish.hentry .post-heading h2 a {
    display: none;
}

/* Font of wp form left column */
.wp-block-column p{
    font-family: Inter-Bold, sans-serif;
    font-size: 40px!important;
}

/* form submit button to black */

button#wpforms-submit-19 {
    background: black;
    color: white;
    font-size: 22px!important;
}

/* delete padding on posts and contactform */

.is-frontend .posts {
    padding-top: 0!important;
}


